<div class="form">
<%= form_with(model: order) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
        <% order.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.hidden_field :customer_id, value:current_user.id %>
    <%= form.hidden_field :status, value: :Paid %>
  </div>

  <div class="form-field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="form-field">
    <%= form.label :address %>
    <%= form.text_area :address %>
  </div>

  <div class="form-field">
    <%= form.label :phone_number %>
    <%= form.text_field :phone_number %>
  </div>

  <div class="form-field">
    <%= form.label :postcode %>
    <%= form.text_field :postcode %>
  </div>

  <% @total = 0%>
  <% params[:items].each do |item, index| %>
  
  <input type="hidden" name="items[]" value=<%= item.to_json %> />
    
  <div class="order-product-box">
    <% @spec = Spec.find(item[:spec_id]) %>
    <% @product = Product.find(@spec.product_id) %>
    <div>
          <%= image_tag(@product.image, :width =>150) %>
    </div>
    <div class="order-product-detail-box">
      <div style="font-size:25px; font-family:serif; margin:3px; color:rgb(71, 64, 64);">
        <strong> <%= @product.title %> </strong>
        <hr style="width:80%; margin:0;">
      </div>
      <div style="margin:10px;">
        <%= @spec.title %>
      </div>
      <div style="margin:10px;">
      <strong>
        Total : $
        <%= number_with_precision((item[:quantity].to_i * @product.price), precision: 2) %>
        <% @total += item[:quantity].to_i * @product.price %>
        </strong>
      </div>
    </div>

    <div class="order-product-quantity-box">
      x
      <%= item[:quantity] %>
    </div>
  </div>
  <% end %>

  <div class="actions">
  <span style="font-size:20px; margin:8%; font-weight:600;">
  <strong> To Pay: $ </strong>
    <%= number_with_precision(@total, precision:2) %>
    </span>
    <%= form.submit "Pay Now", style:'border-radius: 5px; height: 40px; width: 50%; margin-left: 10%; background-color:rgb(243, 92, 54);'  %>
  </div>
<% end %>
</div>
