<h1 class="header">Orders</h1>

    <% @orders.each do |order| %>
        <div class="order">

          <div class="order-details">  
            <div class="order-detail" style="font-weight: 1000; font-size:25px;">
              <a href="/orders/<%= order.id%>" style="text-decoration:none; color:navy;">
              <%= order.customer.email %>
              </a>
            </div>

            <div class="order-detail" >
              <%= order.address %>
            </div>

            <div class="order-detail" >
              <%= order.phone_number %>
            </div>

            <div class="order-detail" >
              <%= order.postcode %>
            </div>
          </div>

          <div class="order-right-margin">
              <% if current_user.seller? %>
                <% if order.Paid? %>
                  <button class="order-delivered">
                    Delivered
                  </button>
                
                <% end %>
              <% end %>

              <% if order.customer_id == current_user.id %>
                <% if order.Delivering? %>
                  <button class="order-delivered">
                    Received
                  </button>
                <% end %>
                <button class="order-cancel">
                  <%= link_to "Cancel Order", order_path(order), method: :delete, confirm:{message: "Are you sure ? "}, style:'color:white; text-decoration:none;' %>
                </button>
              <% end %>
          </div>
        </div>
    <% end %>

<br>
