<h1 class="header">Orders</h1>

    <% @orders.each do |order| %>
        <div class="order">

          <div class="order-details">  
            <div class="order-detail" style="font-weight: 1000; font-size:25px;">
              <a href="/orders/<%= order.id%>" style="text-decoration:none; color:navy;">
               Order <%= order.id %>
               <hr>
              </a>
            </div>

            <div class="order-detail" >
              <strong> Customer's Name: </strong>
              <%= order.name %>
            </div>

            <div class="order-detail" >
              <strong> Address: </strong>
              <br>
              <%= order.address %>
            </div>

            <div class="order-detail" >
              <strong> Phone Number: </strong>
              <%= order.phone_number %>
            </div>

            <div class="order-detail" >
              <strong> Postcode: </strong>
              <%= order.postcode %>
            </div>

            <div class="order-detail" >
              <strong> Status: </strong>
              <%= order.status %>
            </div>
          </div>

          <div class="order-right-margin">
              <% if current_user.seller? %>
                <% if order.Paid? %>
                  <button class="order-delivered">
                    <%= link_to "Delivered", order_path(id:order.id,order: {order_id:order.id, status: :Delivering}), method: :patch, style:'color:white; text-decoration:none;' %>
                  </button>
                <% end %>
              <% end %>

              <% if order.customer_id == current_user.id %>
                <% if order.Delivering? %>
                  <button class="order-delivered">
                    <%= link_to "Received", order_path(id:order.id,order: {order_id:order.id, status: :Received}), method: :patch, style:'color:white; text-decoration:none;' %>
                  </button>
                <% end %>
                <% if order.Paid? %>
                <button class="order-cancel">
                  <%= link_to "Cancel Order", order_path(id:order.id,order: {order_id:order.id, status: :Cancelled}), confirm:{message:"Are you sure?"}, method: :patch, style:'color:white; text-decoration:none;' %>
                </button>
                <% end %>
                <% if order.Cancelled? %>
                <button class="order-cancel">
                  <%= link_to "Delete Order", order_path(id:order.id), method: :delete, confirm:{message:"Are you sure?"}, style:'color:white; text-decoration:none;' %>
                </button>
                <% end %>
              <% end %>
          </div>
        </div>
    <% end %>

<br>
