<div class="form" style="width:50%;">
<%= form_with(model: comment) do |form| %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
        <% comment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="rating"><!--
  --><input name="stars" id="e5" type="radio"></a><label for="e5">☆</label><!--
		--><input name="stars" id="e4" type="radio"></a><label for="e4">☆</label><!--
		--><input name="stars" id="e3" type="radio"></a><label for="e3">☆</label><!--
		--><input name="stars" id="e2" type="radio"></a><label for="e2">☆</label><!--
		--><input name="stars" id="e1" type="radio"></a><label for="e1">☆</label>
	</div>

  <div class="form-field">
    <%= form.label :content %>
    <%= form.text_area :content , style: 'border-radius: 5px; padding:3px;', :required => true %>
  </div>

    <%= form.hidden_field :product_order_id, value:params[:productOrder_id]%>

  <div class="actions">
    <%= form.submit :Submit, style:'border-radius: 5px; height: 40px; width: 80%; margin-left: 10%;'  %>
  </div>
<% end %>
</div>
