<h2 class="header-form">Sign up</h2>

<div class="form" style="width:50%; margin:auto;">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%#= render "devise/shared/error_messages", resource: resource %>

    <div class="form-field" style="margin:20px 30px;">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", style: 'border-radius: 5px; padding:3px; width:100%;' %>
    </div>
    
    <div class="form-field" style="margin:20px 30px;">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", style: 'border-radius: 5px; padding:3px; width:100%;' %>
    </div>

    <div class="form-field" style="margin:20px 30px;">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", style: 'border-radius: 5px; padding:3px; width:100%;' %>
    </div>

    <div class="actions" style="margin:50px 20px 20px 20px;">
      <%= f.submit "Sign up", style:'border-radius: 5px; height: 40px; width: 80%; margin-left: 10%;'  %>
    </div>
  <% end %>
</div>
<%#= render "devise/shared/links" %>
