<p id="notice"><%= notice %></p>

<div style="padding-left:15px; color: darkcyan;">
  <h1>BLOGS :</h1>
</div>

<div class="blogs" style="width: 100%;" >
  <% @blogs.each do |blog| %>
    <div class="blog" style="padding: 20px; width: 100%; border-style: hidden hidden solid hidden; border-color: lightblue;">
        <h3 style="font-family: monospace;"> <%= link_to blog.title, blog %> </h3>
        <p style="font-style: italic; color: #999; font-size: 12px;">
          Posted <%= time_ago_in_words blog.created_at %> ago by 
          <%= User.find(blog.user_id).email %>
          | <%= link_to 'Edit',edit_blog_path(blog) %>
          | <%= link_to 'Destroy',blog, data:{confirm:'Are you sure ? '}, method: :delete %>
        </p>
        <div style="background-color: #eee; padding: 10px;"><%= blog.content %></div>
    </div>
  <% end %>
</div>

<br>

<%= link_to 'New Blog', new_blog_path %>
